name: CodSpeed Benchmarks

on:
  pull_request:
    branches: [master]
    paths:
      - '**.py'
      - '.github/workflows/codspeed.yaml'
      - 'pyproject.toml'
      - 'setup.py'
  push:
    branches: [master]
    paths:
      - '**.py'
      - '.github/workflows/codspeed.yaml'
      - 'pyproject.toml'
      - 'setup.py'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  benchmark:
    name: Run CodSpeed Benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: pip
          cache-dependency-path: |
            setup.py
            pyproject.toml
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[dev] pytest-codspeed
      - name: Remove Python files from test env
        run: rm -r faster_hexbytes
      - name: Run CodSpeed
        uses: CodSpeedHQ/action@v4
        with:
          mode: instrumentation
          run: pytest --codspeed -k "test_faster_" benchmarks/
